/* CSS code remains the same */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
}

.panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0, .3);
    z-index: 1000;
}

.panel input {
    width: 350px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.titlebox{
    margin: 0;
    padding: 10px 5px;
    height: auto;
    font: var(--title-font-boing-500);
    font-size: 18px;
    color: #202124;
    letter-spacing: .3;
    line-height: 18px;
    background: #fff;
    border-radius: 10px 10px 0 0;
}

.titlebox{
  display: grid;
  gap: 15px;
  grid-template-columns: 24px minmax(0, 1fr) 24px;
  align-items: flex-start;
  justify-items: center;
  margin: 15px 15px 0;
  font-size: 16px;
  line-height: 26px;
  height: var(--routing-title-height);
  color: var(--routing-title-color);
  transition-duration: var(--routing-title-duration);
  transition-property: height, color;
}

.hamburger-menu {
    border: 0;
    padding: 0;
    font-size: 24px;
    transition: margin-top .2s;
    margin-top: 0;
    background: none;
    border: none; /* Elimina cualquier borde */
    outline: none; /* Elimina el contorno */
}

.icon {
    width: 25px; /* Ajusta el tamaño del icono según sea necesario */
    height: 25px;
    cursor: pointer;
    line-height: 1;
    display: inline-block; /* Hace que el icono no tenga una caja */
    vertical-align: middle; /* Alinea verticalmente el icono */
}

.subicon {
    width: 20px; /* Ajusta el tamaño del icono según sea necesario */
    height: 20px;
    line-height: 1;
    padding: 20px 20px;
    display: inline-block; /* Hace que el icono no tenga una caja */
    vertical-align: middle; /* Alinea verticalmente el icono */
}

/* Estilo para la clase loginButton */
.btnLogin-popup {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #0265d6; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espacio interior */
    border: none; /* Sin borde */
    border-radius: 2em; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar sobre él */
    font-size: 16px; /* Tamaño del texto */
}

/* Cambiar el estilo cuando el cursor pasa sobre el botón */
.btnLogin-popup:hover {
    background-color: #0847bb;
}

.modal{
    position: relative;
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(225, 225, 225, .5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1000;
}

.modal.activate-popup{
    transform: scale(1);
}

.modal.activate{
    height: 520px;
}

.modal .form-box{
    width: 100%;
    padding: 40px;
}

.modal .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.modal.activate .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.modal .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.modal.activate .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.modal .close-icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;  
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.ubiButton {
    position: absolute; /* Posiciona el botón de manera absoluta */
    right: 10px; /* Alineado con los controles de zoom */
    bottom: 130px; /* Ajusta esta posición para estar justo encima del control de zoom */
    width: 50px; /* Tamaño del botón */
    height: 50px;
    background-color: white; /* Fondo blanco */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borde similar a los controles de zoom */
    border-radius: 50%; /* Hacer el botón circular */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un poco de profundidad */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.ubiButton:hover {
    background-color: #f4f4f4;
}

.ubiButton img {
    width: 20px; /* Ajusta el tamaño del icono según sea necesario */
    height: 20px;
    vertical-align: middle; /* Alinea verticalmente la imagen en el centro */
}

.leaflet-control-zoom-custom {
    position: absolute;
    right: 10px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4em;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.leaflet-control-zoom-custom button {
    background: white;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    line-height: 1;
    outline: none;
}

.leaflet-control-zoom-custom button:hover {
    background: #f4f4f4;
}

.leaflet-control-zoom-custom .zoom-in {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*Icono de localizacion de usuario */
.user-location-icon {
    width: 30px;
    height: 30px;
    text-align: center;
}
.outer-circle {
    width: 10px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255); /* Blue border */
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 5px 5px rgba(104, 164, 255, 0.5); /* Difuminado */
}
.inner-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(24, 111, 243); /* Blue circle */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
